<section id="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="fimage">
                <img src="/img/115099.jpg" alt="" height="50px" width="100px">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere magni repellendus minima eum ut quaerat blanditiis, aut, quos qui, quibusdam suscipit explicabo numquam ullam sed praesentium ipsum iste temporibus modi.</p>
            </div>
            </div>
            <div class="col-md-4">
                <div class="finfo">
                <h3>Indigo Pvt.Ltd</h3>
                <i class="bi bi-text-paragraph"></i><p><%=addrecord.add%></p>
                <i class="bi bi-telephone"></i><b>101-<%=addrecord.tel%></b><br><br> 
                <i class="bi bi-whatsapp"></i><b><%=addrecord.whatsup%></b><br><br>
                <i class="bi bi-phone"></i><b>+91-<%=addrecord.mobile%></b><br><br>
                <i class="bi bi-envelope"></i><b><%=addrecord.email%></b><br><br>
                <img src="/img/Screenshot (320).png">
                <img src="/img/linkedin.png">
                <img src="/img/Screenshot (318).png">
                <img src="/img/Screenshot (319).png">
            </div>
            </div>
            <div class="col-md-3">
                <div class="query">
                <form action="" method="post">
                <h3>Query  Form</h3>
                <input type="email" name="email" class="form-control" placeholder="Enter Email" required>
                <textarea name="query" id="" placeholder="Enter Query" class="form-control mt-2" required></textarea>
                <button type="submit" class="btn btn-success form-control mt-2">Post Query</button>
                </form>
                </div>
            </div>
        </div>
    </div>
</section>